@font-face {
    font-family: 'Avenir';
    src: url('../fonts/Avenir-Light.ttf');
    font-weight: 200;
    font-style: normal
}
@font-face {
    font-family: 'Avenir';
    src: url('../fonts/Avenir-Roman.ttf');
    font-weight: 400;
    font-style: normal
}
@font-face {
    font-family: 'Avenir';
    src: url('../fonts/Avenir-Medium.ttf');
    font-weight: 500;
    font-style: normal
}
@font-face {
    font-family: 'Circular';
    src: url('../fonts/Circular-bold.ttf');
    font-style: bold;
}
@font-face {
    font-family: 'Circular';
    src: url('../fonts/Circular-medium.ttf');
    font-style: normal;
}

body {
    font-family: 'Circular';
    margin: 0
}
h1 {
    text-align: center
}
.loot-button {
    font-family: 'Circular';
    font-weight: 200;
    font-size: 15px;
    height: 30px;
    background: #37cde9;
    border: 0;
    border-radius: 3px;
    color: #f5f7f7
}

.navbar-default {
    background-color: white;
}

.navbar-wrapper {
    text-align: center;
    height: 80px;
}

.menu-wrapper {
    position: relative;
    vertical-align: middle;

    top: 50%;
    transform: translateY(-50%);

    height: 50%;
}

img.menu-item {
    padding: 0 45px;
    height: 100%
}

.menu-item {
    padding: 0 15px;
    display: inline;
}
.menu-item a {    
    color: black;
    font-size: 16px;
}

.ATF {
    position: relative;

    display: block;
    overflow: hidden;

    margin-top: 80px;

    height: 667px;

    /*background-image: url('../images/ATF-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;*/
}

.hero-title {
    margin-top: 130px;
    text-align: center;
}

.hero-title h1 {
    font-size: 62px;
}
.hero-title h1 span {
    color: #23b5e9;
}

.hero-title .subtitle {
    margin-top: 20px;

    font-size: 16px;
}

.put-bom-wrapper {
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;

    max-width: 656px;
}

.put-bom-wrapper input {
    height: 60px;
}
.put-bom-wrapper .note {
    font-size: 12px;
    color: gray;
}

.ATF-deco {
    /*border: 1px solid black;*/
    width: 100%;

    position: absolute;
    bottom: 0px;
}

.ATF-deco img {
    width: 100%;
}

.section {
    padding: 8vw 0
}
.section-1 {
    background: #37cde9;
    display: block
}
.section-1 h1 {
    color: #f5f7f7
}
.circle-banner {
    text-align: center;
    margin: 0 auto;
    width: 790px
}
.circle-container {
    display: inline-block;
    position: relative;
    vertical-align: top;
    margin: 0 -20px;
    width: 300px;
    height: 300px
}
.circle-container h2 {
    text-align: center
}
.circle {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    border-radius: 50%;
    background-color: rgba(105, 240, 174, 0.7)
}
.circle-text {
    color: #fff;
    margin-top: 40px;
    margin-left: 55px;
    margin-right: 55px;
    text-align: left
}
.circle-prop {
    margin-left: -60px;
    margin-top: -60px;
    padding-bottom: 60px
}
.circle-prop img {
    width: 93%
}
.section-2 {
    background: #fff;
    display: block
}
.section-2 h1 {
    color: #37cde9
}
.steps-container {
    margin: 0 auto;
    text-align: center
}
.steps-container .step {
    display: inline-block;
    vertical-align: top;
    width: 300px
}
.step-image {
    display: block;
    margin: 0 auto;
    height: 130px
}
.button-container {
    padding: 20px;
    text-align: center
}
.btn-custom {
    background: #37cde9;
    color: #f5f7f7;
    border: 0
}