@font-face {
    font-family: 'Avenir';
    src: url('../fonts/Avenir-Light.ttf');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Avenir';
    src: url('../fonts/Avenir-Roman.ttf');
    font-weight: 400;
    font-style: normal
}
@font-face {
    font-family: 'Avenir';
    src: url('../fonts/Avenir-Medium.ttf');
    font-weight: 500;
    font-style: bold
}
@font-face {
    font-family: 'Circular';
    src: url('../fonts/Circular-bold.ttf');
    font-style: bold;
}
@font-face {
    font-family: 'Circular';
    src: url('../fonts/Circular-medium.ttf');
    font-style: normal;
}

body {
    font-family: 'Circular';
    margin: 0;
}
h1 {
    text-align: center
}

/*
 * --- Main ---
 *  index.html
 */

/********  Navbar  ********/

.home.loot-button {
    font-family: 'Circular';
    font-weight: 200;
    font-size: 15px;
    height: 30px;
    background: #37cde9;
    border: 0;
    border-radius: 3px;
    color: #f5f7f7
}

.navbar-default {
    background-color: white;
}

.navbar-wrapper {
    text-align: center;
    height: 80px;
}

.menu-wrapper {
    position: relative;
    vertical-align: middle;

    top: 50%;
    transform: translateY(-50%);

    height: 50%;
}

img.menu-item {
    padding: 0 45px;
    height: 100%
}

.menu-item {
    padding: 0 15px;
    display: inline;
}
.menu-item a {    
    color: black;
    font-size: 16px;
}

.appView{
    margin-top: 80px;
}

/*
 * --- Main ---
 *  index.html
 */

/********  ATF  ********/

.ATF {
    position: relative;

    display: block;

    height: 667px;

    /*background-image: url('../images/ATF-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;*/
}

.hero-title {
    margin-top: 130px;
    text-align: center;
}

.hero-title h1 {
    font-size: 62px;
}
.hero-title h1 span {
    color: #23b5e9;
}

.hero-title .subtitle {
    margin-top: 20px;

    font-size: 16px;
}

.put-bom-wrapper {
    position: relative;

    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;

    max-width: 656px;
}

.put-bom-wrapper input {
    height: 60px;
}
.put-bom-output {
    background: white;

    position: absolute;
    left: 0;
    right: 0;
    z-index: 100;

    white-space: nowrap;

    opacity: 0;
}
.put-bom-output.fade{
    opacity: 1;
    transition: all linear 0.4s;
}
.pb-pic-col {
    display: inline-block;
    vertical-align: top;

    position: relative;
    width: 20%;
    height: 100pt;
}
.pb-pic-col img {
    max-height: 100%;
    max-width: 100%;
}

.pb-middle-col {
    display: inline-block;
    vertical-align: top;

    position: relative;
    width: 64%;
    height: 100pt;
}
.middle-col-row {
    height: 33%;
}
.pb-item .item-url {
    margin-top: -3px;
    overflow: hidden;

    font-size: 10px;
}
.pb-item .item-url a {
    color: gray;
}
.pb-item .key {
    display: inline-block;
    padding: 0;

    width: 60px;

    line-height: 30px;
}
.pb-item .item-colors {
    display: inline-block;
    width: 70%;
}
.pb-item .item-color {
    display: inline-block;

    margin: 0 3px;
    padding: 0;

    min-width: 60px;

    line-height: 30px;
}
.pb-item .item-color.selected {
    background: #EBEBEB;
}
.pb-item .item-qty {
    display: inline-block;
    width: 25%;
}
.pb-item .item-qty input {
    display: inline-block;

    height: 30px;
    width: 50px;
    padding: 0 5px;
    border: none;

    background-color: #EBEBEB;
}
.pb-item .item-size {
    display: inline-block;

    line-height: 30px;
    text-align: center;

}
.pb-item .circular {
    border-radius: 50%;
    height: 30px;
    width: 30px;

    margin: 0 5px;
}
.pb-item .rectangle {
    height: 30px;
    padding: 0 10px;
}
.pb-item .item-size.selected {
    background: #EBEBEB;
}

.pb-price-col {
    display: inline-block;
    vertical-align: top;

    position: relative;
    width: 13%;

    text-align: right;
}
.pb-X-col {
    margin-top: 30px;
}

.cart-actions {
    margin-top: 10px;
}
.cart-actions .checkout {
    display: inline-block;
    
    width: 100%;
    height: 50px;
    line-height: 35px;

    font-size: 15px;
    text-align: center;
    background: #6ECEF1;
}

.put-bom-wrapper .note {
    font-size: 12px;
    color: gray;
}

.ATF-deco {
    width: 100%;

    position: absolute;
    bottom: 0px;
}
.fade {
    opacity: 0.2;
}
.ATF-deco img {
    width: 100%;
}

/********  Section 1  ********/

.section {
    /*padding: 8vw 0*/
}

.section-1 {
    min-height: 667px;
}

.section-1 h2 {
    margin-top: 140px;
    font-size: 13px;

    text-align: center;
}

.steps-wrapper {
    margin-top: 40px;
    text-align: center;
}
.step-wrapper {
    max-width: 300px;

    display: inline-block;
    padding: 0 60px;
    text-align: center;
}
.step-image-wrapper {
}
.step-title {
    display: inline-block;

    text-align: left;
    font-size: 25px;
}
.step-title #1 {
    width: 180px;
}
.step-title #2 {
    width: 180px;
}
.step-title #3 {
    width: 150px;
}
.step-number {
    color: #37CDE9;
}
.step-subtitle {
    display: inline-block;

    margin-top: 8px;

    text-align: left;
    font-size: 11px;
}
.step-subtitle #3 {
    width: 150px;
}
.step-subtitle a {
    color: #37CDE9;
}

table tr td {
    text-align: center;
}
td img {
    width: 100%;
}
td div {
    vertical-align: center;

    height: 70px;
}
.why-title {
    font-size: 25px;
}
.why-subtitle {
    font-size: 11px;
}

/********  Section 4  ********/

.section-4 {
    position: relative;
    height: 700px;
}
.final-content {
    text-align: center;
}
.final-message {
    display: inline-block;

    margin-top: 180px;

    max-width: 700px;

    font-size: 42pt;
    text-align: left;
}
.final-message span {
    color: #37CDE9;
}

.btn-primary{
    margin-top: 60pt;
    border: none;
    background-color: #37CDE9;

    padding: 10px 30px;

    color: white;
    font-size: 15px;   
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    border: none;
    background-color: #37CDE9;

    padding: 10px 30px;

    color: white;
    font-size: 15px;
}

.social-media-wrapper {
    position: absolute;
    bottom: 15px;
    right: 40px;
}
.social-media-wrapper div {
    display: inline-block;
    margin: 0 10pt;
    width: 40pt;
}
.social-media-wrapper div img {
    width: 100%;

    font-size: 11px;
}

/*
 * --- Order form ---
 *  login.html
 *  delivery.html
 *  confirm.html
 *  done.html
 */

/********  Overall order form  ********/
.orderForm
{
    font-family: 'Avenir';
    font-weight: 200;
}

.header {
    height: 180px;
    width: 100%;
    background: #37cde9;
    text-align: center;
    color: #fff;
    margin-bottom: 60px;
    position: relative
}

.header #header-graphic {
    position: absolute;
    left: 3vw;
    bottom: 0;
    height: 106px;
    width: 119px;
    background: url(../images/Loot%20bags.png) no-repeat
}

.header #header-circle {
    padding: 1px;
    vertical-align: middle
}

.header .step-num {
    margin: 40px auto 0 auto;

    height: 60px;
    width: 60px;
    background: #fff;
    border: 18px solid #fff;
    border-radius: 50%;
    color: #37cde9;
    font-weight: 400;
    vertical-align: middle;
    font-size: 38px;
    line-height: 27px
}
.header p {
    font-size: 23px;
    margin: 13px auto 0
}

.personal-message {
    font-family: 'Avenir';
    font-weight: 500;
    color: #37cde9;
    font-size: 17px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px
}

.btn.next {
    background-color: #6ECEF1;
}

/********  Delivery  ********/

.form-body {
    width: 60vw;
    margin: 0 auto;
}

.form-body .inputs {
    /*display: flex;*/
    /*flex-flow: row wrap;*/
    margin-bottom: 40px
}
.form-body label {
    margin: 5px 10px;

    font-weight: 200;
}
.form-body label p {
    color: #231f20
}
.form-body .row-label {
    width: 100%
}
.form-body .button {
    margin-left: auto
}

.inputs-row {
    clear: all;

    min-height:100px;
    margin-bottom: 10px;
}

.address {
    margin-bottom: 10px;
}
.postal-code {
    max-width:130px;
}

.contact-number {
    max-width: 250px;
}

.button-row{
    clear: all;
    margin-top: 100px;
    margin-bottom: 20px;

    text-align: center;
}

/********  Confirm  ********/
.confirmed-value {
    font-family: 'Circular';
    font-weight: bold;
}

/********  Done  ********/
#done {
    text-align: center;
    margin-top: 60px;
    position: relative;
}

#done img {
    width:70px
}

#done p {
    font-size:25px
}

/********  ••••••  ********/

/*
 * --- Others ---
 *  FAQ
 *  Contacts
 */

.faq h1,
.contacts h1
{
    text-align: left;

    margin-top: 80pt;
    margin-bottom: 40pt;

    font-size: 42pt;
}

.faq h1 span, 
.contacts h1 span {
    color: #23b5e9;
}

/********  FAQ  ********/

.faq .section {
    margin-bottom: 10pt;
}

.faq .section-header {
    margin-left: -22pt;

    font-size: 24pt;
}
.faq .section-header div {
    display: inline-block;

    width: 20pt;
}

.faq .section-content {
    margin-top: 20pt;
    margin-bottom: 40pt;
}

.faq .item-header {
    margin-bottom: 10pt;
}
.faq .item-content {
    margin-left: 40pt;
}
/********  Contacts  ********/
.contact-key {
    padding-right: 10px;

    color: #23b5e9;
    text-align: left;
}
.contact-value {
    text-align: left;
}
.contact-value a:link, .contact-value a:visited {
    color: black;
}