@font-face {
    font-family: 'Avenir';
    src: url('../fonts/Avenir-Light.ttf');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Avenir';
    src: url('../fonts/Avenir-Roman.ttf');
    font-weight: 400;
    font-style: normal
}
@font-face {
    font-family: 'Avenir';
    src: url('../fonts/Avenir-Medium.ttf');
    font-weight: 500;
    font-style: bold
}
@font-face {
    font-family: 'Circular';
    src: url('../fonts/Circular-bold.ttf');
    font-style: bold;
}
@font-face {
    font-family: 'Circular';
    src: url('../fonts/Circular-medium.ttf');
    font-style: normal;
}

body {
    font-family: 'Circular';
    margin: 0;
}
h1 {
    text-align: center
}

/*
 * --- Main ---
 *  index.html
 */

/********  Navbar  ********/

.home.loot-button {
    font-family: 'Circular';
    font-weight: 200;
    font-size: 15px;
    height: 30px;
    background: #37cde9;
    border: 0;
    border-radius: 3px;
    color: #f5f7f7
}

.navbar-default {
    background-color: white;
}

.navbar-wrapper {
    text-align: center;
    height: 80px;
}

.menu-wrapper {
    position: relative;
    vertical-align: middle;

    top: 50%;
    transform: translateY(-50%);

    height: 50%;
}

img.menu-item {
    padding: 0 45px;
    height: 100%;
}

.menu-item {
    padding: 0 15px;
    display: inline;
    cursor: pointer;
}
.menu-item a {    
    color: black;
    font-size: 16px;
}

.appView {
    margin-top: 80px;
}

/*
 * --- Main ---
 *  index.html
 */

 .section {
    /*padding: 8vw 0*/
}

/********  ATF  ********/

.ATF {
    /*border: 1px solid orange;*/
    position: relative;

    margin-top: -80px;

    display: block;

    /*height: 667px;*/
    height: 100vh;
    min-height: 667px;

    /*background-image: url('../images/ATF-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;*/
}

.hero-content {

    position: absolute;

    top: 40%;

    transform: translateY(-50%);

    min-width: 600px;
    margin: 0 auto;
    left: 0;
    right: 0;

    z-index: 100;

    padding: 0 10px;
}

.hero-title {
    margin-top: 130px;
    margin-bottom: 60px;

    text-align: center;
}

.hero-title h1 {
    display: block;

    font-size: 53px;
}
.hero-title h1 span {
    color: #23b5e9;
}

.hero-title .subtitle {
    display: block;

    margin-top: 20px;

    font-size: 24px;
}

.put-bom-wrapper {
    position: relative;

    margin-left: auto;
    margin-right: auto;

    max-width: 656px;
}

.put-bom-input {
    position: relative;
    margin-bottom: 10px;
}
.put-bom-input input[type=text] {
    height: 60px;
}
.put-bom-input-btn {
    min-width: 80px;
    height: 60px;

    border-color: #23b5e9;
    background-color: #23b5e9;

    text-align: center;
    color: #333333;
}
.put-bom-input-btn img {
    height: 100%;
}
#pb-cart-size {
    position: absolute;
    top: 20px;
    right: 30px;
    z-index: 3;
}
#pb-scraper-loading{
    /*border: 1px solid black;*/

    position: absolute;
    top: 0;
    bottom: 0;
    right: 5px;

    z-index: 3;

    margin-top: auto;
    margin-bottom: auto; 

    height: 50px;

    background-color: white;
    /*border-left: 1px solid gray;*/
    box-shadow: -15px 0 5px -10px white;

    padding: 0 10px;
}
#pb-scraper-loading img{
    height: 100%;
}

.put-bom-output {
    background: white;

    position: absolute;
    left: 0;
    right: 0;
    z-index: 50;

    white-space: nowrap;

    opacity: 0;

    visibility: hidden;
}
.put-bom-output.fade{
    opacity: 1;
    transition: all linear 0.4s;

    visibility: visible;
}
.pb-pic-col {
    display: inline-block;
    vertical-align: top;

    position: relative;
    width: 20%;
    height: 100pt;
}
.pb-pic-col img {
    max-height: 100%;
    max-width: 100%;
}

.pb-middle-col {
    display: inline-block;
    vertical-align: top;

    position: relative;
    width: 64%;
    min-height: 100pt;
}
.middle-col-row {
   margin-bottom: 5px;
}

.middle-col-row.row1 {
    font-size: 18px;
}
.middle-col-row.row1 a {
    color: black
}
.middle-col-row.row2,
.middle-col-row.row3 {
    min-height: 33%;
}

.pb-item .item-url {
    margin-top: -3px;
    overflow: hidden;

    font-size: 10px;
}
.pb-item .item-url a {
    color: gray;
}
.pb-item .key {
    display: inline-block;

    min-width: 60px;

    vertical-align: top;

    padding: 0;
    line-height: 30px;
}
.pb-item .value {
    display: inline-block;

    max-width: calc(95% - 60px);

    white-space: normal;
}
.pb-item .item-colors {
    display: inline-block;
    width: 70%;
}
.pb-item .item-color.btn {
    display: inline-block;

    margin: 0 3px;
    padding: 0 10px;

    border: none;

    min-width: 60px;

    line-height: 30px;

    white-space: normal;
}
.pb-item .item-color.selected {
    background: #EBEBEB;
}
.pb-item .item-qty {
    vertical-align: top;

    display: inline-block;
    width: 25%;
}
.pb-item .item-qty input {
    display: inline-block;

    height: 30px;
    width: 50px;
    padding: 0 5px;
    border: none;

    background-color: #EBEBEB;
}
.pb-item .item-sizes{
    display: inline-block;
    width: 70%;
}
.pb-item .item-size {
    display: inline-block;

    line-height: 30px;
    text-align: center;

}
.pb-item .circular {
    border-radius: 50%;
    height: 30px;
    width: 30px;

    margin: 0 5px;
}
.pb-item .rectangle {
    height: 30px;
    padding: 0 10px;
}
.pb-item .item-size.selected {
    background: #EBEBEB;
}

.pb-price-col {
    display: inline-block;
    vertical-align: top;

    position: relative;
    width: 13%;

    text-align: right;
}
.pb-X-col {
    margin-top: 30px;
}

.cart-actions {
    margin-top: 10px;
}
.cart-actions .btn {
    display: inline-block;

    font-size: 15px;
    text-align: center;

    line-height: 35px;
}
.cart-actions .add-items {
    background-color: #EBEBEB;
}
.cart-actions .checkout {
    background: #6ECEF1;
}

.ATF .cart-actions .add-items {
    width: 40%
}
.ATF .cart-actions .checkout {
    width: 60%;
}

.ATF-deco {
    width: 100%;

    position: absolute;
    bottom: 0px;
}
.fade {
    opacity: 0.2;
}
.ATF-deco img {
    display: block;
    width: 100%;
}
.ATF-deco .merchant-logos {

    position: absolute;

    bottom: 30%;
    left: 0;
    right: 0;

    margin-left: auto;
    margin-right: auto;

    max-width: 45%;

    text-align: center;
}
.ATF-deco .merchant-logos .title{
    margin: -10px; auto;
}
.ATF-deco .merchant-logo {
    display: inline-block;

    width: 40%;

    vertical-align: top;

    /*box-shadow: 0 0 25px black;*/
    /*-webkit-filter: drop-shadow(0px 0px 40px rgba(0,0,0,0.5));*/
}

.merchant-logo .note {

    font-size: 10px;
    color: gray;
}
@media only screen and (max-width: 800px) {
    .merchant-logo {
        line-height: 10px;
    }
    .merchant-logo .note {
        font-size: 7px;
    }
}

/********  Section 1  ********/

.section-1 {
    height: auto;
}

.section-1-content {

}

@media only screen and (min-width: 1100px) {
    .section-1 {
        min-height: 600px;
        height: 100vh;
    }
        
    .section-1 .container {
        /*border: 1px solid black;*/
        position: relative;

        width: 100%;
        height: 100%;
    }

    .section-1-content {
        position: absolute;

        top: 50%;

        transform: translateY(-50%);

        margin: 0 auto;
        left: 0;
        right: 0;   
    }
}

.section-1 h2 {
    margin-top: 140px;
    font-size: 20px;

    text-align: center;
}

.steps-wrapper {
    /*border: 1px solid black;*/

    margin-top: 40px;
    text-align: center;
}
.step-wrapper {
    /*border: 1px solid orange;*/
    margin-bottom: 50px;

    max-width: 400px;
    width: 30%;
    min-width: 350px;

    display: inline-block;
    vertical-align: top;

    padding: 0 60px;
    text-align: center;
}
.step-image-wrapper {
}
.step-title {
    display: inline-block;

    text-align: left;
    /*font-size: 25px;*/
    font-size: 42px;
}
.step-title #1 {
    width: 180px;
}
.step-title #2 {
    width: 180px;
}
.step-title #3 {
    width: 150px;
}
.step-number {
    color: #37CDE9;
}
.step-subtitle {
    display: inline-block;

    margin-top: 8px;

    text-align: left;
    font-size: 20px;
}
.step-subtitle #3 {
    width: 150px;
}
.step-subtitle a {
    color: #37CDE9;
}

/********  Section 2  ********/

table tr td {
    text-align: center;
}
td img {
    width: 100%;
}
td div {
    vertical-align: center;
}
.section-2 .title {
    /*border: 1px solid orange;*/

    margin-bottom: 20px;

    font-size: 42px;
}
.section-2 .subtitle {
    /*border: 1px solid black;*/

    font-size: 20px;
}

@media only screen and (max-width: 800px) {
    .section-2 .title {
        margin-bottom: 0;

        font-size: 5vw;
    }
    .section-2 .subtitle {
        font-size: 2vw;
    }
}

/********  Section 4  ********/

.section-4 {
    position: relative;
    height: 700px;
}
.final-content {
    text-align: center;
}
.final-message {
    display: inline-block;

    margin-top: 180px;

    max-width: 700px;

    font-size: 42pt;
    text-align: left;
}
.final-message span {
    color: #23b5e9;
}

.btn-primary{
    margin-top: 60pt;
    border: none;
    background-color: #23b5e9;

    padding: 10px 30px;

    color: white;
    font-size: 15px;   
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    border: none;
    background-color: #23b5e9;

    padding: 10px 30px;

    color: white;
    font-size: 15px;
}

.social-media-wrapper {
    position: absolute;
    bottom: 15px;
    right: 40px;
}
.social-media-wrapper div {
    display: inline-block;
    margin: 0 10px;
    width: 40px;
}
.social-media-wrapper div img {
    width: 100%;

    font-size: 11px;
}

/*
 * --- Order form ---
 *  login.html
 *  delivery.html
 *  confirm.html
 *  modify.html
 *  done.html
 */

/********  Overall order form  ********/
.orderForm
{
    font-family: 'Avenir';
    font-weight: 200;
}

.header {
    height: 180px;
    width: 100%;
    background: #37cde9;
    text-align: center;
    color: #fff;
    margin-bottom: 60px;
    position: relative
}

.header #header-graphic {
    position: absolute;
    left: 3vw;
    bottom: 0;
    height: 106px;
    width: 119px;
    background: url(../images/Loot%20bags.png) no-repeat
}

.header #header-circle {
    padding: 1px;
    vertical-align: middle
}

.header .step-num {
    margin: 40px auto 0 auto;

    height: 60px;
    width: 60px;
    background: #fff;
    border: 18px solid #fff;
    border-radius: 50%;
    color: #37cde9;
    font-weight: 400;
    vertical-align: middle;
    font-size: 38px;
    line-height: 27px
}
.header p {
    font-size: 23px;
    margin: 13px auto 0
}

.personal-message {
    font-family: 'Avenir';
    font-weight: 500;
    color: #37cde9;
    font-size: 17px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px
}

.btn.next {
    background-color: #6ECEF1;
}

/********  Delivery  ********/

.form-body {
    width: 60vw;
    margin: 0 auto;
}

.form-body .inputs {
    /*display: flex;*/
    /*flex-flow: row wrap;*/
    margin-bottom: 40px
}
.form-body label {
    margin: 5px 10px;

    font-weight: 200;
}
.form-body label p {
    color: #231f20
}
.form-body .row-label {
    width: 100%
}
.form-body .button {
    margin-left: auto
}

.inputs-row {
    clear: all;

    min-height:100px;
    margin-bottom: 10px;
}

.address {
    margin-bottom: 10px;
}
.postal-code {
    max-width:130px;
}

.contact-number {
    max-width: 250px;
}

.button-row{
    clear: all;
    margin-top: 100px;
    margin-bottom: 20px;

    text-align: center;
}

/********  Confirm  ********/

.confirmed table {
    /*table-layout: fixed;*/
    /*width: 200px;*/
}

.confirmed table td {

    text-align: left;
    vertical-align: top;
}

.confirmed .key-value-wrapper {
    min-width: 150px;
}

.confirmed .confirmed-value {
    font-family: 'Circular';
    font-weight: bold;
}
.confirmed table td.item-OOS-checkbox-col {
    table-layout: fixed;
    width: 20px;
}
.item-OOS-checkbox {
    vertical-align: top;
}
.item-OOS-statement {

    display: inline-block;

    width: 80%;
}

.additional-info {
    margin-top: 20px;
    margin-bottom: 10px;
}

.confirmed .total {
    display: table;
    width: 100%;
    margin-top: 20px;
}

.confirmed .total-row {
    display: table-row;
}
.confirmed .total-row.final {
    font-size: 20px;
}

.confirmed .total-header {
    display: table-cell;
    width: 84%;
}

.confirmed .total-price {
    display: table-cell;
    width: 16%;
    text-align: right;
}

.confirmed #total-sgd {
    cursor: pointer;
}

.confirmed .note {
    margin-top: 20px;

    font-size: 12px;
    color: #4d4e4f;
}

/********  Modify  ********/
.modify.hero-title {
    margin-top: 30px;
    margin-bottom: 30px;
}

#putBomInput.hidePB {
    visibility: hidden;
}

.modify.cart-actions .btn {
    width: 50%;
}

/********  Done  ********/
#done {
    text-align: center;
    margin-top: 60px;
    position: relative;
}

#done img {
    width:70px
}

#done p {
    font-size:25px
}

/********  ••••••  ********/

/*
 * --- Others ---
 *  FAQ
 *  Contacts
 */

.faq h1,
.contacts h1
{
    text-align: left;

    margin-top: 80pt;
    margin-bottom: 40pt;

    font-size: 42pt;
}

.faq h1 span, 
.contacts h1 span {
    color: #23b5e9;
}

/********  FAQ  ********/

.faq .section {
    margin-bottom: 10pt;
}

.faq .section-header {
    cursor: pointer;
        
    margin-left: -15px;

    font-size: 24pt;
}
.faq .section-header div {
    display: inline-block;

    width: 20pt;
}

.faq .section-content {
    overflow: hidden;

    display: none;

    margin-bottom: 40pt;
}

.faq .item-header {
    margin-bottom: 10pt;
}
.faq .item-content {
    margin-left: 40pt;
}
/********  Contacts  ********/
.contact-key {
    padding-right: 10px;

    color: #23b5e9;
    text-align: left;
}
.contact-value {
    text-align: left;
}
.contact-value a:link, .contact-value a:visited {
    color: black;
}