<ng-include src="'./navbar-flow.html'"></ng-include>
<div class="orderForm">
    <div class="header">
        <div id="header-graphic"></div>
        <div id="header-circle">
            <div class="step-num">3</div>
            <p>Confirm Your Order</p>
        </div>
    </div>

    <div class="form-body confirmed">

        <div class="put-bom-wrapper">
            <div class="personal-message">You have a total of {{confirm.itemCount}} item{{confirm.getPlurality(confirm.itemCount)}} in your cart.</div>

            <div class="pb-item" ng-repeat="item in confirm.items | orderBy : '-'">
                <div class="pb-pic-col">
                    <a ng-href="{{item.url}}" target="_blank">
                        <img ng-src="{{item.imageUrl}}" ng-show="item.imageUrl !== '' "/>
                        <img ng-src="./images/no_image_avail-default.png" ng-show="item.imageUrl === ''">
                    </a>
                </div>
                <div class="pb-middle-col">
                    <div class="middle-col-row row1">
                        <div class="">{{item.name}}</div>
                    </div>
                    <div class="middle-col-row row2">
                        <table>
                            <tr>
                                <td ng-if="item.merchant == 'f21'">
                                    <div class="key-value-wrapper">
                                        <div class="key">Color</div>
                                        <span class="confirmed-value">{{item.color}}</div>
                                    </div>
                                </td>
                                <td ng-if="item.merchant == 'sephora'">
                                    <div class="key-value-wrapper">
                                        <div class="key">Item</div>
                                        <span class="confirmed-value">{{item.size}}</div>
                                    </div>
                                </td>
                                <td class="item-OOS-checkbox-col"></td>
                                <td>
                                    <div class="key">Quantity</div> 
                                    <span class="confirmed-value">
                                        {{item.quantity}}
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td ng-if="item.merchant == 'f21'">
                                    <div>
                                        <div class="key">Size</div>
                                        <span class="confirmed-value">
                                            {{item.size}}
                                        </div>
                                    </div>
                                </td>

                                <td ng-if="item.merchant == 'sephora' && item.colors.length > 0">
                                    <div>
                                        <div class="key">Type</div>
                                        <span class="confirmed-value">
                                            {{item.color}}
                                        </div>
                                    </div>
                                </td>

                                <td>
                                    <!-- Original area for OOS-checkbox -->
                                </td>
                                <td>
                                    <div class="item-OOS-statement key-value-wrapper">
                                        <!-- Original area for OOS-statement -->
                                    </div>
                                </td>
                            </tr> 
                        </table>
                    </div>
                </div>

                <div class="pb-price-col">
                    <span class="confirmed-value">{{item.unitPrice / 100 * item.quantity | currency : 'US$'}}</span>
                </div>

                <div class="additional-info">
                    <textarea  class="form-control" placeholder="Add additional instructions for this item" ng-model="item.instructions"></textarea>
                </div>

                <div>
                    <input type="checkbox" class="item-OOS-checkbox item-OOS-checkbox-col" ng-model="item.proceedOrder" checked>
                    Proceed with other items if this is out-of-stock
                </div>

                <!-- Item separator line -->
                <hr>

            </div>

            <div class="total">
                <div class="total-row">
                    <div class="total-header">
                        <span>Shipping to Singapore</span>
                    </div>
                    <div class="total-price">Free</span>
                    </div>
                </div>
                <div class="total-row">
                    <div class="total-header">
                        <span>Total</span>
                    </div>
                    <div class="total-price">
                        <span class="confirmed-value">{{confirm.orderInfo.totalUsd / 100.00 | currency : 'US$'}}</span>
                    </div>
                </div>
                <div class="total-row final">
                    <div class="total-header">
                        <span>You pay</span>
                    </div>
                    <div class="total-price">
                        <a><span class="confirmed-value" id="total-sgd">{{confirm.orderInfo.totalSgd / 100.00 | currency : 'S$'}}</span></a>
                    </div>
                </div>
            </div>
            <div class="note">
                <h5><b>Things to know before placing your orders</b></h5>
                <ul>
                    <li><b>Shipping fees:</b> FREE. Yes, we do not charge you any shipping fees.</li>
                    <li><b>Receipt:</b> After paying for your order, you will receive an email receipt within 15 minutes.</li>
                    <li><b>Delivery:</b> Your order will be delivered to you in roughly 3 weeks, hand-delivered by our team.</li>
                    <li><b>Tracking order:</b> Email updates will be sent once your order has been placed from Forever21, and when your order is en-route from USA to Singapore.</li>
                    <li><b>Refunds for damaged items:</b> We are happy to help you get a refund if the items received are damaged. Apart from that, items are non-refundable.</li>
                    <li><b>Refunds for OOS items:</b> Refunds will be processed before we deliver your order.</li>
                    <li>We reserve the right to accept/reject orders placed on Loot.</li>
                </ul>
            </div>

        </div>

        <div class="button-row">
            <span><button class="button btn" type="button" ng-click="confirm.back()">Back</button></span>
            <span><button class="button btn" type="button" ng-click="confirm.modify()"><span class="bold">Edit Cart</span></button></span>
            <span><button class="button btn next" type="button" ng-click="confirm.confirmAndPay()"><span class="bold">Confirm and Pay</span></button></span>
        </div>
    </div>
</div>