<div class="header">
    <div id="header-graphic"></div>
    <div id="header-circle">
        <div class="step-num">4</div>
        <p>Confirm Your Order</p>
    </div>
</div>
<div class="form-body">
    <div class="personal-message">You have a total of {{confirm.itemCount}} item{{confirm.getPlurality(confirm.itemCount)}} in your cart.</div>

    <div class="items-table">
        <div class="items-table-header">
            <div class="item-cell bold">#</div>
            <div class="item-cell bold">Name</div>
            <div class="item-cell bold">Quantity</div>
            <div class="item-cell bold">Size</div>
            <div class="item-cell bold">Color</div>
            <div class="item-cell bold">Instructions</div>
            <div class="item-cell bold">Proceed if OOS</div>
        </div>
        <div class="item-row" ng-repeat="item in confirm.items">
            <div class="item-cell">{{item.number}}</div>
            <div class="item-cell"><a href="{{item.url}}">{{item.name}}</a></div>
            <div class="item-cell">{{item.quantity}}</div>
            <div class="item-cell">{{item.size}}</div>
            <div class="item-cell">{{item.color}}</div>
            <div class="item-cell">{{item.instructions}}</div>
            <div class="item-cell">{{item.proceedOrder | true_false}}</div>
        </div>
    </div>
    <div class="button-row">
        <span><button class="button" type="button" ng-click="confirm.back()">Back</button></span>
        <span><button class="button" type="button" ng-click="confirm.modify()"><span class="bold">Edit</span></button></span>
        <span><button class="button" type="button" ng-click="confirm.confirmAndPay()"><span class="bold">Confirm and Pay</span></button></span>
    </div>
</div>