<!-- Navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container navbar-wrapper">
        <div class="menu-wrapper">
            <div class="menu-item"  id="how-it-works-menu" ng-click="contacts.goPageAndAnchorScroll('', 'how-it-works')"><a href="#/">How it works</a></div>
            <div class="menu-item"  id="why-loot-menu" ng-click="contacts.goPageAndAnchorScroll('', 'why-loot')"><a href="#/">Why Loot?</a></div>
            <a href="./#/"><img class="menu-item" src="./images/loot-logo-blue-beta.png" /></a>
            <div class="menu-item"><a href="#/faq">FAQ</a></div>
            <div class="menu-item"><a href="#/contacts">About Us</a></div>
        </div>
    </div>
</nav>

<div class="about">
	<div class="container">
		<h1>About <span>Loot</span></h1>
		<div class="col-sm-7">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cur post Tarentum ad Archytam? Hoc unum Aristo tenuit: praeter vitia atque virtutes negavit rem esse ullam aut fugiendam aut expetendam. Erat enim Polemonis.
			</p>
			<p>
				Nam si propter voluptatem, quae est ista laus, quae possit e macello peti? Teneo, inquit, finem illi videri nihil dolere. A quibus propter discendi cupiditatem videmus ultimas terras esse peragratas. Res enim se praeclare habebat, et quidem in utraque parte. Non est igitur summum malum dolor. Hoc Hieronymus summum bonum esse dixit. Illud dico, ea, quae dicat, praeclare inter se cohaerere. Si enim ita est, vide ne facinus facias, cum mori suadeas. Qui autem esse poteris, nisi te amor ipse ceperit? Summum ením bonum exposuit vacuitatem doloris;
			</p>

			<p>
				Loot is a startup backed by NUS Enterprise.
			</p>

			<div class="team">
				<h2>Team <span>Loot</span></h2>
				<div class="col-xs-3">
					<img src="./images/about_gerald.jpg" />
					<div>Name</div>
					<div>role</div>
				</div>
				<div class="col-xs-3">
					<img src="./images/about_jiajun.jpg" />
					<div>Name</div>
					<div>role</div>
				</div>
				<div class="col-xs-3">
					<img src="./images/about_xinyuan.jpg" />
					<div>Name</div>
					<div>role</div>
				</div>
				<div class="col-xs-3">
					<img src="./images/about_weili.jpg" />
					<div>Name</div>
					<div>role</div>
				</div>
			</div>
		</div>
		<div class="col-sm-1"></div>

		<div class="contact col-sm-4">
			<h2>Want to <span>speak</span> to us?</h2>

			Hit us up with any questions regarding your order at:
			<table>
				<tr>
					<td class="contact-key">Chat</td>
					<td class="contact-value"><a href="https://www.facebook.com/lootsingapore/" target="_blank">www.facebook.com/&#8203;lootsingapore</a></td>
				</tr>
					<td class="contact-key">Email</td>
					<td class="contact-value"><a href="mailto:help@loot.sg?">help@loot.sg</a></td>
				<tr>
				</tr>
			</table>
		</div>
		<!-- Temporary turn off the social media feature
		<div class="social-media-wrapper">
            <div><a href="http://facebook.com/lootcommerce"><img src="./images/share_fb.png"></div>
            <div><a href="mailto:?subject=Check out Loot!"><img src="./images/share_email.png"></div>
        </div> -->
	</div>
</div>