<!-- Navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container navbar-wrapper">
        <div class="menu-wrapper">
            <div class="menu-item"  id="how-it-works-menu" ng-click="contacts.goPageAndAnchorScroll('', 'how-it-works')"><a href="#/">How it works</a></div>
            <div class="menu-item"  id="why-loot-menu" ng-click="contacts.goPageAndAnchorScroll('', 'why-loot')"><a href="#/">Why Loot?</a></div>
            <a href="./#/"><img class="menu-item" src="./images/loot-logo-blue-beta.png" /></a>
            <div class="menu-item"><a href="#/faq">FAQ</a></div>
            <div class="menu-item"><a href="#/contacts">About Us</a></div>
        </div>
    </div>
</nav>

<div class="about">
	<div class="container">
		<div class="col-sm-7">

			<h1>About <span>Loot</span></h1>
		
			<p>
				Loot was founded in 2015 to simplify Singaporeans' online shopping experience at USA merchants. We are a group of 4 shopperholics who received seed funding from <a target="_blank" href="http://enterprise.nus.edu.sg/about-us/our-purpose">NUS Enterprise</a> to deliver a seamless shopping experience. More retailers will be introduced in months to come - stay tuned by subscribing to our <a target="_blank" href="https://www.facebook.com/lootsingapore/">Facebook page</a>. 
			</p>
			<p>
				Questions or feedback? Let us know and we will be in touch.
			</p>

			<!-- pics here -->
		</div>
		<div class="col-sm-1"></div>

		<div class="contact col-sm-4">
			<h2>Want to <span>speak</span> to us?</h2>

			Hit us up with any questions regarding your order at:
			<table>
				<tr>
					<td class="contact-key">Chat</td>
					<td class="contact-value"><a href="https://www.facebook.com/lootsingapore/" target="_blank">www.facebook.com/&#8203;lootsingapore</a></td>
				</tr>
					<td class="contact-key">Email</td>
					<td class="contact-value"><a href="mailto:help@loot.sg?">help@loot.sg</a></td>
				<tr>
				</tr>
			</table>
		</div>
		<!-- Temporary turn off the social media feature
		<div class="social-media-wrapper">
            <div><a href="http://facebook.com/lootcommerce"><img src="./images/share_fb.png"></div>
            <div><a href="mailto:?subject=Check out Loot!"><img src="./images/share_email.png"></div>
        </div> -->
	</div>
</div>