<!-- Navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container navbar-wrapper">
        <div class="menu-wrapper">
            <div class="menu-item"  id="how-it-works-menu" ng-click="home.hidePutBom()"><a href="#/">How it works</a></div>
            <div class="menu-item"  id="why-loot-menu" ng-click="home.hidePutBom()"><a href="#/">Why Loot?</a></div>
            <a href="./#/"><img class="menu-item" src="./images/loot-logo-blue.png" /></a>
            <div class="menu-item"><a href="#/faq">FAQ</a></div>
            <div class="menu-item"><a href="#/contacts">Contact Us</a></div>
        </div>
    </div>
</nav>

<div class="contacts">
	<div class="container">
		<h1>Want to <span>speak</span> to us?</h1>

		Hit us up with any questions regarding your order at:
		<table>
			<tr>
				<td class="contact-key">Chat</td><td class="contact-value">www.facebook.com/lootsingapore</td>
			</tr>
				<td class="contact-key">Email</td><td class="contact-value">help@loot.sg</td>
			<tr>
			</tr>
		</table>
		
		<div class="social-media-wrapper">
            <div><img src="./images/share_fb.png"></div>
            <div><img src="./images/share_email.png"></div>
        </div>
	</div>
</div>