<!-- Navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container navbar-wrapper">
        <div class="menu-wrapper">
            <div class="menu-item"  id="how-it-works-menu" ng-click="home.hidePutBom()"><a href="">How it works</a></div>
            <div class="menu-item"  id="why-loot-menu" ng-click="home.hidePutBom()"><a href="">Why Loot?</a></div>
            <a href="./#/"><img class="menu-item" src="./images/loot-logo-blue.png" /></a>
            <div class="menu-item"><a href="#/faq">FAQ</a></div>
            <div class="menu-item"><a href="#/contacts">Contact Us</a></div>
        </div>
    </div>
</nav>

<div class="ATF">
    <div class="container">
        <div class="hero-title">
            <h1>Overseas shopping, <span>simplified</span>.</h1>
            <span class="subtitle">Loot helps you get stuff from the U.S., delivered to Singapore for free.</span>
        </div>

        <form name="putBom" class="form-group put-bom-wrapper">

            <input class="form-control" id="putBomInput" type="text" name="itemURL" placeholder="{{home.urlField.placeholder}}" ng-model="home.urlField.text" ng-model-options='{ debounce: 100 }' ng-change="home.scrapeURL()" ng-click="home.showPutBom()"><br>
            <div class="put-bom-output" ng-class="{'fade': home.shouldShowPutBomOutput && home.data.items.length > 0}">

                <div class="pb-item" ng-repeat="item in home.data.items">
                    <div class="pb-pic-col">
                        <img ng-src="{{item.imageUrl}}" />
                    </div>
                    <div class="pb-middle-col">
                        <div class="middle-col-row row1">
                            <div>{{item.name}}</div>
                            <div class="item-url"><a href="{{item.url}}">{{item.url}}</a></div>
                        </div>
                        <div class="middle-col-row row2">
                            <div class="item-colors">
                                <div class="key">Color</div>
                                <div ng-repeat="colori in item.colors" class="item-color btn" ng-class="{'selected': colori==item.color}" ng-click="home.selectColorForItem(colori, item)">
                                    {{colori}}
                                </div>
                            </div>
                            <div class="item-qty">
                                Quantity <input class="form-control" type="number" ng-model="item.quantity" min="1">
                            </div>
                        </div>
                        <div class="middle-col-row row2">
                            <div class="item-sizes">
                                <div class="key">Size</div>
                                <div ng-repeat="sizei in item.sizes" class="item-size" ng-class="{'selected': sizei==item.size, 'circular': item.useCircleForSizes, 'rectangle': !item.useCircleForSizes, 'btn': !item.useCircleForSizes}" ng-click="home.selectSizeForItem(sizei, item)">
                                    {{sizei}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pb-price-col">
                        {{item.unitPrice / 100 * item.quantity | currency : '$'}}<br/>
                        <div class="pb-X-col">
                            <button type="button" ng-click="home.removeItem(item.number)" class="close">
                                <span>&times;</span>
                            </button>
                        </div>
                    </div>
                    <!-- Item separator line -->
                    <hr ng-hide="item == home.data.items[home.data.items.length - 1]">
                </div>
                <!-- Add to cart -->
                <div class="cart-actions">
                    <div class="btn checkout" ng-click="home.checkOut()">
                        Checkout
                        <img src="">
                    </div>
                </div>
            </div>
            <span class="note">* Items from Amazon should be over $20 and under 3KG.</span>
        </form>
    </div>

    <div class="ATF-deco" ng-class="{'fade': home.shouldShowPutBomOutput && home.data.items.length > 0}">

        <img src="./images/ATF_deco.png">
    </div>
</div>

<!-- Section 1 -->
<div class="section section-1" ng-class="{'fade': home.shouldShowPutBomOutput && home.data.items.length > 0}" id="how-it-works">
    <div class="container">
        <h2>HOW IT WORKS</h2>
        <div class="steps-wrapper">
            <div class="step-wrapper">
                <div class="step-image-wrapper"><img src="./images/Ic_Mouse.png"></div>
                <div class="step-title">
                    <span style="white-space: nowrap;"><span class="step-number" id="1">1 </span>Shop online</span>
                </div>
                <div class="step-subtitle"  id="1">Shop at <a href="">www.amazon.com</a> or <a href="">www.forever21.com</a> and send us the item URL.</div>
            </div>
            <div class="step-wrapper">
                <img src="./images/Ic_Cart.png">
                <div class="step-title">
                    <span style="white-space: nowrap;"><span class="step-number" id="2">2 </span>Check out </span>on Loot
                </div>

                <div class="step-subtitle" id="2">We accept debit, credit or Paypal.</div>
            </div>
            <div class="step-wrapper">
                <div class="step-image-wrapper"><img src="./images/Ic_Present.png"></div>
                <div class="step-title">
                    <span style="white-space: nowrap;"><span class="step-number" id="3">3 </span>Delivered</span>
                </div>
                <div class="step-subtitle" id="3">Have it delivered in 2 weeks!</div>
            </div>
        </div>
    </div>

</div>
<div class="section section-2" ng-class="{'fade': home.shouldShowPutBomOutput && home.data.items.length > 0}" id="why-loot" >
    <table border="0" width="100%">
        <tr>
            <td><img src="./images/Pic_Freeshipping.png"></td>
            <td>
                <div>
                    <span class="why-title">Free shipping</span><br />
                    <span class="why-subtitle">Delivered from U.S. merchants to your Singapore address.</span>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <span class="why-title">Upfront pricing</span><br />
                    <span class="why-subtitle">No hidden fees, forex markup, or GST. Pay what you see.</span>
            </td>
            <td><img src="./images/Pic_Upfrontpricing.png"></td>
        </tr>
        <tr>
            <td><img src="./images/Pic_Hasslefree.png"></td>
            <td>
                <span class="why-title">Hassle-free</span><br />
                <span class="why-subtitle">Save time on creating an account. Check out as guest.</span>
            </td>
        </tr>
    </table>
</div>

<div class="section section-4" ng-class="{'fade': home.shouldShowPutBomOutput && home.data.items.length > 0}">
    <div class="container">
        <div class="final-content">
            <div class="final-message">
                Online shopping +<br />
                <span>Free international delivery</span>.
            </div>
            <div><button type="button" class="btn btn-primary" id="backToTop" ng-click="home.showPutBom()">Try Loot now!</button></div>
        </div>

        <div class="social-media-wrapper">
            <div><img src="./images/share_fb.png"></div>
            <div><img src="./images/share_email.png"></div>
        </div>
    </div>
</div>
