<!-- Navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container navbar-wrapper">
        <div class="menu-wrapper">
            <div class="menu-item" id="how-it-works-menu" ng-click="home.hidePutBom()"><a>How it works</a></div>
            <div class="menu-item" id="why-loot-menu" ng-click="home.hidePutBom()"><a>Why Loot?</a></div>
            <a><img id="menu-logo" class="menu-item" src="./images/loot-logo-blue-beta.png" /></a>
            <div class="menu-item"><a href="#/faq">FAQ</a></div>
            <div class="menu-item"><a href="#/contacts">Contact Us</a></div>
        </div>
    </div>
</nav>

<div class="section ATF">
    <div class="container">
        <div class="hero-content">
            <div class="hero-title">
                <h1><span>Free shipping</span> to Singapore.</h1>
                <span class="subtitle">Tell us what you like. Have it delivered in two weeks.</span>
            </div>

            <form name="putBom" class="form-group put-bom-wrapper">

                <div class="put-bom-input">
                    <span ng-show="!home.siteState.showPBOutput && home.data.items.length > 0" class="badge progress-bar-danger" id="pb-cart-size">{{home.data.items.length}}</span>

                    <div id="pb-scraper-loading" ng-show="home.siteState.isScraping">
                        <img src="./images/loading.gif" />
                    </div>

                    <input class="form-control" id="putBomInput" type="text" name="itemURL" placeholder="{{home.urlField.placeholder}}" ng-model="home.urlField.text" ng-model-options='{ debounce: 100 }' ng-change="home.scrapeURL()" ng-click="home.showPutBom()">
                </div>

                <div class="put-bom-output" ng-class="{'fade': home.siteState.showPBOutput && home.data.items.length > 0}">

                    <div class="pb-item" ng-repeat="item in home.data.items | orderBy: '-'">
                        <div class="pb-pic-col">
                            <a href="{{item.url}}">
                                <img ng-src="{{item.imageUrl}}" ng-show="item.imageUrl != '' "/>
                                <img src="./images/no_image_avail.png" ng-show="item.imageUrl == '' ">
                            </a>
                        </div>
                        <div class="pb-middle-col">
                            <div class="middle-col-row row1">
                                <div><a href="{{item.url}}">{{item.name}}</a></div>
                            </div>
                            <div class="middle-col-row row2">
                                <div class="item-colors">
                                    <div class="key">Color</div>
                                    <div ng-repeat="colori in item.colors" class="item-color btn" ng-class="{'selected': colori==item.color}" ng-click="home.selectColorForItem(colori, item)">
                                        {{colori}}
                                    </div>
                                </div>
                                <div class="item-qty">
                                    Quantity <input class="form-control" type="number" ng-model="item.quantity" min="1">
                                </div>
                            </div>
                            <div class="middle-col-row row2">
                                <div class="item-sizes">
                                    <div class="key">Size</div>
                                    <div ng-repeat="sizei in item.sizes" class="item-size" ng-class="{'selected': sizei==item.size, 'circular': item.useCircleForSizes, 'rectangle': !item.useCircleForSizes, 'btn': !item.useCircleForSizes}" ng-click="home.selectSizeForItem(sizei, item)">
                                        {{sizei}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pb-price-col">
                            {{item.unitPrice / 100 * item.quantity | currency : 'US$'}}<br/>
                            <div class="pb-X-col">
                                <button type="button" ng-click="home.removeItem(item.number)" class="close">
                                    <span>&times;</span>
                                </button>
                            </div>
                        </div>

                        <!-- Item separator line -->
                        <hr ng-hide="item == home.data.items[0]">
                    </div>

                    <!-- Add to cart -->
                    <div class="cart-actions">
                        <div class="btn checkout" ng-click="home.checkOut()">
                            Checkout
                            <img src="">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="ATF-deco" ng-class="{'fade': home.siteState.showPBOutput && home.data.items.length > 0}">
        <img src="./images/ATF_deco_spacedout.png">

        <div class="merchant-logos">
            <div class="title">Works with</div>
            <!-- <div class="merchant-logo">
                <a href="https://www.amazon.com" target="_blank"><img src="./images/Logo_amazon.png" /></a>
                <span class="note">* Please ensure that items from Amazon are over $20 and under 3KG.</span>
            </div> -->
            <div class="merchant-logo">
                <a href="http://www.forever21.com" target="_blank"><img src="./images/Logo_F21_2.png" /></a>
            </div>
        </div>
    </div>
</div>

<!-- Section 1 -->
<div class="section section-1" ng-class="{'fade': home.siteState.showPBOutput && home.data.items.length > 0}" id="how-it-works">
    <div class="container">
        <div class="section-1-content">
            <h2>HOW IT WORKS</h2>
            <div class="steps-wrapper">
                <div class="step-wrapper">
                    <div class="step-image-wrapper"><img src="./images/Ic_Mouse.png"></div>
                    <div class="step-title">
                        <span style="white-space: nowrap;"><span class="step-number" id="1">1 </span>Shop online</span>
                    </div>
                    <div class="step-subtitle" id="1">Shop at <!-- <a href="http://www.amazon.com/" target="_blank">Amazon</a> or  --><a href="http://www.forever21.com/" target="_blank">Forever 21</a> and send us the item URL.</div>
                </div>
                <div class="step-wrapper">
                    <img src="./images/Ic_Cart.png">
                    <div class="step-title">
                        <span style="white-space: nowrap;"><span class="step-number" id="2">2 </span>Check out </span> via Loot
                    </div>

                    <div class="step-subtitle" id="2">We accept debit &amp; credit cards.</div>
                </div>
                <div class="step-wrapper">
                    <div class="step-image-wrapper"><img src="./images/Ic_Present.png"></div>
                    <div class="step-title">
                        <span style="white-space: nowrap;"><span class="step-number" id="3">3 </span>Receive items</span>
                    </div>
                    <div class="step-subtitle" id="3">Receive your items in 2 weeks!</div>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="section section-2" ng-class="{'fade': home.siteState.showPBOutput && home.data.items.length > 0}" id="why-loot" >
    <table border="0" width="100%">
        <tr>
            <td><img src="./images/Pic_Freeshipping.png"></td>
            <td>
                <div class="title">Free shipping</div><br />
                <div class="subtitle">Delivered from U.S. merchants to your doorstep.</div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="title">Upfront pricing</div><br />
                    <div class="subtitle">Pay the price you see. No hidden fees.</div>
            </td>
            <td><img src="./images/Pic_Upfrontpricing.png"></td>
        </tr>
        <tr>
            <td><img src="./images/Pic_Hasslefree.png"></td>
            <td>
                <div class="title">Hassle-free</div><br />
                <div class="subtitle">No need to create an account. Check out as guest.</div>
            </td>
        </tr>
    </table>
</div>

<div class="section section-4" ng-class="{'fade': home.siteState.showPBOutput && home.data.items.length > 0}">
    <div class="container">
        <div class="final-content">
            <div class="final-message">
                Online shopping +<br />
                <span>Free international delivery</span>!
            </div>
            <div><button type="button" class="btn btn-primary" id="backToTop" ng-click="home.showPutBom()">Try Loot now!</button></div>
        </div>
<!-- Temporary turned off this feature
        <div class="social-media-wrapper">
            <div><a href=""><img src="./images/share_fb.png"></a></div>
            <div><a href="mailto:?subject=Check out Loot!"><img src="./images/share_email.png"></a></div>
        </div> -->
    </div>
</div>
