<!DOCTYPE HTML>
<html>
<head>
    <title>Loot</title>
    <!-- AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

    <!-- jQuery -->
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>


    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Others -->
    <script type="text/javascript" src="./js/putBom.js"></script>
    <script src="./js/script.js"></script>
    <link rel="stylesheet" href="./css/style.css" />
    <link href="images/favicon.png" rel="icon" type="image/x-icon" />
    
    <!-- GOOGLE ANALYTICS -->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-74748137-2', 'auto');
        ga('send', 'pageview');
    </script>
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container navbar-wrapper">
            <div class="menu-wrapper">
                <div class="menu-item"><a href="">How it works</a></div>
                <div class="menu-item"><a href="">Why Loot?</a></div>
                <img class="menu-item" src="./images/loot-logo-blue.png" />
                <div class="menu-item"><a href="">FAQ</a></div>
                <div class="menu-item"><a href="">Contact Us</a></div>
            </div>
        </div>
    </nav>
    
    <!-- ATF -->
    <div class="ATF">
        <div class="container">
            <div class="hero-title">
                <h1>Overseas shopping, <span>simplified</span>.</h1>
                <span class="subtitle">Loot helps you get stuff from the U.S., delivered to Singapore for free.</span>
            </div>

            <form name="putBom" class="form-group put-bom-wrapper" ng-app="putBom" ng-controller="putBomController">
                Minus cart count <button ng-click="minusCartCount()">-</button>
                <input class="form-control" id="putBomInput" type="text" name="itemURL" placeholder="Just copy and paste your item URL here." ng-model="urlField.text" ng-change="scrapeURL()"><br>
                <div class="put-bom-output" ng-show="cartCount > 0">
                    <!-- for cartIem in cartCount, print cart -->
                    Cart count: {{cartCount}}
                </div>
                <span class="note">* Items from Amazon should be over $20 and under 3KG.</span>
            </form>
        </div>

        <div class="ATF-deco">
            <img src="./images/ATF_deco.png">
        </div>
    </div>
    
    <!-- Section 1 -->
    <div class="section section-1">
        <div class="container">
            <h2>/ HOW IT WORKS</h2>
            <div class="steps-wrapper">
                <div class="step-wrapper col-sm-4">
                    <div class="step-image-wrapper"><img src="./images/Ic_Mouse.png"></div>
                    <div class="step-title">
                        <span style="white-space: nowrap;"><span class="step-number" id="1">1 </span>Shop online</span>
                    </div>
                    <div class="step-subtitle"  id="1">Shop at <a href="">www.amazon.com</a> or <a href="">www.forever21.com</a> and send us the item URL.</div>
                </div>
                <div class="step-wrapper col-sm-4">
                    <img src="./images/Ic_Cart.png">
                    <div class="step-title">
                        <span style="white-space: nowrap;"><span class="step-number" id="2">2 </span>Check out </span>on Loot
                    </div>

                    <div class="step-subtitle" id="2">We accept debit, credit or Paypal.</div>
                </div>
                <div class="step-wrapper col-sm-4">
                    <div class="step-image-wrapper"><img src="./images/Ic_Present.png"></div>
                    <div class="step-title">
                        <span style="white-space: nowrap;"><span class="step-number" id="3">3 </span>Delivered</span>
                    </div>
                    <div class="step-subtitle" id="3">Have it delivered in 2 weeks!</div>
                </div>
            </div>
        </div>

    </div>
    <div class="section section-2">
        <table border="0" width="100%">
            <tr>
                <td><img src="./images/Pic_Freeshipping.png"></td>
                <td>
                    <div>
                        <span class="why-title">Free shipping</span><br />
                        <span class="why-subtitle">Delivered from U.S. merchants to your Singapore address.</span>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <span class="why-title">Upfront pricing</span><br />
                        <span class="why-subtitle">No hidden fees, forex markup, or GST. Pay what you see.</span>
                </td>
                <td><img src="./images/Pic_Upfrontpricing.png"></td>
            </tr>
            <tr>
                <td><img src="./images/Pic_Hasslefree.png"></td>
                <td>
                    <span class="why-title">Hassle-free</span><br />
                    <span class="why-subtitle">Save time on creating an account. Check out as guest.</span>
                </td>
            </tr>
        </table>
    </div>

    <div class="section section-4">
        <div class="container">
            <div class="final-content">
                <div class="final-message">
                    Online shopping +<br />
                    <span>Free international delivery</span>.
                </div>
                <div><button type="button" class="btn btn-primary" id="backToTop">Try Loot now!</button></div>
            </div>

            <div class="social-media-wrapper">
                <div><img src="./images/share_fb.png"></div>
                <div><img src="./images/share_email.png"></div>
            </div>
        </div>
    </div>
</body>
</html>