<ng-include src="'./navbar-flow.html'"></ng-include>
<div class="orderForm">
    <div class="header">
        <div id="header-graphic"></div>
        <div id="header-circle">
            <div class="step-num">1</div>
            <p>Checkout</p>
        </div>
    </div>
    <div class="form-body">
        <form ng-submit="login.next()">
            <div class="form-group">
                <label for="email">Email Address</label>
                <input class="xl" ng-model="login.userInfo.email" type="email" id="email" required>
            </div>
            <button class="button btn" type="button" ng-click="login.back()">Back</button></span>
            <button class="button btn next" type="submit">Next: <span class="bold">Address Info</span></button>
            </div>
        </form>
    </div>
</div>