<ng-include src="'./navbar-flow.html'"></ng-include>

<div class="container">
    <div class="modify hero-title">
        <h1>Cart</h1>
    </div>

    <form name="putBom" class="form-group put-bom-wrapper">
        <div class="put-bom-output fade" >

            <div class="pb-item" ng-repeat="item in modify.data.items | orderBy : '-'">
                <div class="pb-pic-col">
                    <a href="{{item.url}}" target="_blank">
                        <img src="{{item.imageUrl}}"/>
                    </a>
                </div>
                <div class="pb-middle-col">
                    <div class="middle-col-row row1">
                        <div><a href="{{item.url}}" target="_blank">{{item.name}}</a></div>
                    </div>
                    <div class="middle-col-row row2">
                        <div class="item-colors">
                            <div class="key">Color</div>
                            <div ng-repeat="colori in item.colors" class="item-color btn" ng-class="{'selected': colori==item.color}" ng-click="modify.selectColorForItem(colori, item)">
                                {{colori}}
                            </div>
                        </div>
                        <div class="item-qty">
                            Quantity <input class="form-control" type="number" ng-model="item.quantity" min="1">
                        </div>
                    </div>
                    <div class="middle-col-row row2">
                        <div class="item-sizes">
                            <div class="key">Size</div>
                            <div ng-repeat="sizei in item.sizes" class="item-size" ng-class="{'selected': sizei==item.size, 'circular': item.useCircleForSizes, 'rectangle': !item.useCircleForSizes, 'btn': !item.useCircleForSizes}" ng-click="modify.selectSizeForItem(sizei, item)">
                                {{sizei}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pb-price-col">
                    {{item.unitPrice / 100 * item.quantity | currency : 'US$'}}<br/>
                    <div class="pb-X-col">
                        <button type="button" ng-click="modify.removeItem(item.number)" class="close">
                            <span>&times;</span>
                        </button>
                    </div>
                </div>
                <!-- Item separator line -->
                <hr />

            </div>

            <!-- PutBom Input -->
            <div class="put-bom-input" id="putBomInput" ng-class="{hidePB: !modify.pbInputIsShown}">

                <div id="pb-scraper-loading" ng-show="modify.siteState.isScraping">
                    <img src="./images/loading.gif" />
                </div>

                <input class="form-control" type="text" name="itemURL" placeholder="{{modify.urlField.placeholder}}" ng-model="modify.urlField.text" ng-model-options='{ debounce: 100 }' ng-change="modify.scrapeURL()">
            </div>

            <!-- Add to cart -->
            <div class="modify cart-actions">
                <div class="btn add-items" ng-click="modify.togglePBInput()">{{modify.pbInputIsShown ? 'Close Input' : '+ Items'}}</div>
                <div class="btn checkout" ng-click="modify.save()">Save</div>
            </div>
            
            <!-- <span class="note">
                * Please ensure that items from Amazon are over $20 and under 3KG.
            </span> -->

        </div>
    </form>
</div>